node_modules/
.env
.DS_Store
.vscode/
.idea/
.npmrc
.yarnrc
.yarn/
.lock-wscript
.wafpickle-N
debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.sonar/
coverage/
lib-cov/
logs/
pids/
*.pid
*.log
*.swp
*.out
.DS_Store?
Thumbs.db





